body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('mountains-pink-sky-twilight-sunset-dusk-snow-covered-2560x1440-8263-_1_.jpg');
    background-size: cover;
  }
  
  .navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 50%; /* Center the navbar horizontally */
    transform: translateX(-50%); /* Center the navbar using transform */
    width: 5000px; /* Increase the width */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    z-index: 1000;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
    color: #EFE1D1;
  }
  
  .nav-item a {
    color: #EFE1D1;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EFE1D1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .content {
    padding: 50px;
    background-color: white;
    color: black;
  }
  